@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Hahmlet", serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 1rem;
}

#root {
  height: 100%;
}
